<div id="login-section">
    <div class="login-card">
            <h2>Iniciar Sesión</h2>
            <form class="login-form" action="/api/sessions/login" method="POST">
             <label for="email">Email:</label>
             <input type="email" name="email" required>
             <label for="password">Contraseña:</label>
                <input type="password" name="password" required>
                <button type="submit">Ingresar</button>
            </form>
            <a style="text-decoration: none;" href="/register">Registrarse</a>
    </div>
</div>





