<h4 id="username">Nombre de usuario</h4>
<div id="chatmessage"></div>
<form id="form">
  <input type="text" name="mensaje" id="message" />
  <input type="submit" value="Enviar" />
</form>
<button id="clearchat">Borrar chat</button>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>
<script src="/socket.io/socket.io"></script>
<script src="js/message.js"></script>